<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body>

  <div class="container">

    <div class="row">
      {% include header.html %}
    </div>
    <hr>

    <div class="row content-wrapper post-wrapper">
      <section class="post-header">
        <p class="post-stamp">{{ page.date }}<br>{{ page.location }}</p>
      </section>
      <h2 class="post-title">{{ page.title }}</h1>
      <article class="post-content">
        {{content}}
      </article>
    </div>

    <hr>
    <div class="row">
      {% include footer.html %}
    </div>

  </div>

</body>

</html>
